body {
  background: #fbf9fa;
}
.app-logo {
  display: block;
}

.App-header {
  margin: 50px 50px 0;
  display: block;
}
p {
  text-align: center;
}
.App {
  background: #fbf9fa;
  padding: 60px 0 100px;
  margin: 0 auto;
  max-width: cover;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
.App main {
  padding: 30px;
  margin: 20px 0;
}
